<template>
    <div>
        <div class="w-full py-1">
            <div
                class="w-full px-6 py-3 bg-gray-400 border cursor-pointer rounded-t-md"
                @click="isOpen=!isOpen"
            >
                <slot name="f-qu">question</slot>
            </div>
            <div class="w-full p-6 border" v-show="isOpen">
                <slot name="f-an">answer</slot>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isOpen: false
        };
    }
};
</script>

<style scoped>
</style>