<template>
    <div>
        <div class="flex flex-row w-full divide-x-2">
            <div
                class="text-white bg-blue-500 hover:bg-blue-700 focus:outline-none"
                v-for="item in menuList"
                :key="item.id"
            >
                <a class="inline-block px-8 py-3" :href="item.url">
                    {{item.title}}
                    <div class v-if="item.submenu.length > 0">
                        <div class="absolute z-10 w-auto mt-3 text-left bg-blue-500 shadow-md">
                            <!-- submenu -->
                            <div
                                v-for="subItem in item.submenu"
                                :key="subItem.id"
                                class="text-white hover:bg-blue-700 focus:outline-none"
                            >
                                <a
                                    class="inline-block px-10 py-2"
                                    :href="subItem.url"
                                >{{subItem.title}}</a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            menuList: [
                { title: "Home", url: "#", submenu: [] },
                { title: "About Us", url: "#", submenu: [] },
                {
                    title: "Our Services",
                    url: "#",
                    submenu: [
                        { title: "Service 1", url: "#" },
                        { title: "Service 2", url: "#" },
                        { title: "Service 3", url: "#" },
                        { title: "Service 4", url: "#" }
                    ]
                },
                { title: "Contact Us", url: "#", submenu: [] }
            ]
        };
    }
};
</script>

<style scoped>
</style>