<template>
    <div>
        <div class="w-full py-10">
            <div class="flex flex-row space-x-1">
                <!--      tabs-->
                <div
                    class="px-6 py-3 text-white bg-blue-500 border border-blue-500 cursor-pointer hover:bg-blue-700 rounded-t-md"
                    @click="showTabIndex=1"
                    :class="showTabIndex==1?'bg-blue-700':''"
                >Tab 1</div>
                <div
                    class="px-6 py-3 text-white bg-blue-500 border border-blue-500 cursor-pointer hover:bg-blue-700 rounded-t-md"
                    @click="showTabIndex=2"
                    :class="showTabIndex==2?'bg-blue-700':''"
                >Tab 2</div>
                <div
                    class="px-6 py-3 text-white bg-blue-500 border border-blue-500 cursor-pointer hover:bg-blue-700 rounded-t-md"
                    @click="showTabIndex=3"
                    :class="showTabIndex==3?'bg-blue-700':''"
                >Tab 3</div>
            </div>
            <div class>
                <!--    content-->
                <div class="px-4 py-10 border border-blue-500" v-show="showTabIndex==1">Tab1 content</div>
                <div class="px-4 py-10 border border-blue-500" v-show="showTabIndex==2">Tab2 content</div>
                <div class="px-4 py-10 border border-blue-500" v-show="showTabIndex==3">Tab3 content</div>
            </div>
        </div>

        <div class="w-full py-10">
            <div class="flex flex-row w-full">
                <div class="flex flex-col flex-none space-y-1">
                    <!-- tabs -->
                    <div
                        class="px-6 py-3 text-white bg-blue-500 border border-blue-500 cursor-pointer hover:bg-blue-700 rounded-l-md"
                        @click="showTabIndex=1"
                        :class="showTabIndex==1?'bg-blue-700':''"
                    >Tab 1</div>
                    <div
                        class="px-6 py-3 text-white bg-blue-500 border border-blue-500 cursor-pointer hover:bg-blue-700 rounded-l-md"
                        @click="showTabIndex=2"
                        :class="showTabIndex==2?'bg-blue-700':''"
                    >Tab 2</div>
                    <div
                        class="px-6 py-3 text-white bg-blue-500 border border-blue-500 cursor-pointer hover:bg-blue-700 rounded-l-md"
                        @click="showTabIndex=3"
                        :class="showTabIndex==3?'bg-blue-700':''"
                    >Tab 3</div>
                </div>

                <div class="w-full">
                    <!-- content -->
                    <div
                        class="h-full px-4 py-10 border border-blue-500"
                        v-show="showTabIndex==1"
                    >Tab1 content</div>
                    <div
                        class="h-full px-4 py-10 border border-blue-500"
                        v-show="showTabIndex==2"
                    >Tab2 content</div>
                    <div
                        class="h-full px-4 py-10 border border-blue-500"
                        v-show="showTabIndex==3"
                    >Tab3 content</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            showTabIndex: 1
        };
    }
};
</script>

<style scoped>
</style>
