<template>
    <div>
        <div class="p-10">
            <h1>FAQ</h1>
            <FAQ>
                <template #f-qu>is this the first question?</template>
                <template #f-an>Yes, it is. first first first</template>
            </FAQ>

            <FAQ>
                <template #f-qu>is this the second question?</template>
                <template #f-an>Yes, it is. second second second</template>
            </FAQ>

            <FAQ>
                <template #f-qu>is this the third question?</template>
                <template #f-an>Yes, it is. third third third</template>
            </FAQ>
        </div>

        <div class="p-10">
            <h1>Tabs</h1>
            <Tabs></Tabs>
        </div>

        <div class="p-10">
            <h1>Menu</h1>
            <NavMenu></NavMenu>
        </div>

        <div class="p-10">
            <h1>sadf</h1>
        </div>
    </div>
</template>

<script>
import FAQ from "~/components/FAQ.vue";
import Tabs from "~/components/Tabs.vue";
import NavMenu from "~/components/NavMenu.vue";
export default {
    components: { FAQ, Tabs, NavMenu }
};
</script>

<style lang="scss" scoped>
</style>
